/* font and background*/
html,
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    background: #3d3de0;
    background: linear-gradient(90deg, rgba(61, 61, 224, 1) 0%, rgba(28, 149, 173, 1) 100%);

    overscroll-behavior: none;
}

/* https://coolors.co/palettes/popular/#3232ab */

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #262d48;
    border-radius: 15px;
}

/* logo */
.headerLogo {
    font-weight: bold;
    text-decoration: none;
}

/* left nav */
.header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* right nav */
.header-right {
    display: flex;
    gap: 10px;
}

/* links */
.header a, .header h2 {
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-radius: 10px;
}

.header a:visited {
    color: inherit;
}

.header a:hover {
    background-color: #0f3861;
}

/* mobile */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }

    .header .progress {
        position: static;
        transform: none;
    }

    .header-right {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

/* header dropdown */
.jumpLinks {
    display: none;
    position: absolute;
    background-color: #0f3861;
    top: 100%;
    margin-left: 10px;
    min-width: 160px;
    border-radius: 15px;
    z-index: 2;
}

.jumpLinks.open {
    display: block;
}

.jumpLinks a:hover {
    background-color: #262d48;
}

/* search bar */
.searchArea {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.searchBar {
    height: 30px;
    width: 400px;
    margin-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #95C2BE;
}

.searchSubmit {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #227C80;
}

.searchSubmit:hover {
    background-color: #5aaeb2;
}

.searchSubmit:active {
    outline: 2px solid #262d48;
}

/* search highlight */
.pokemon img.searched {
    opacity: 1;
    /* thickness, color, length */
    --b: 2px;
    --c: #262d48;
    --w: 30px;
    border: var(--b) solid #0000;
    background: linear-gradient(var(--c), var(--c)) top center / var(--w) var(--b) no-repeat,
    linear-gradient(var(--c), var(--c)) bottom center / var(--w) var(--b) no-repeat,
    linear-gradient(var(--c), var(--c)) left center / var(--b) var(--w) no-repeat,
    linear-gradient(var(--c), var(--c)) right center / var(--b) var(--w) no-repeat;
}

/* regions - flexible */
.region {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.region h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    scroll-margin-top: 90px;
}

/* boxes */
.box {
    display: grid;
    grid-template-columns: repeat(6, 55px);
    grid-template-rows: auto repeat(5, 55px);
    gap: 8px;

    padding: 15px;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: #95C2BE;

    width: fit-content;
    min-width: fit-content;
    flex-shrink: 0;
}

.boxTitles {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    background-color: #227C80;
    border-radius: 15px;
}

/* pokemon */
.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* search bar scroll offset */
    scroll-margin-top: 150px;
}

.pokemon img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.pokemon img {
    opacity: 0.30;
    cursor: pointer;
}

.pokemon:hover img {
    opacity: 1;
}

.pokemon img.registered {
    opacity: 1;

    /* border styling */
    /* thickness, color, length */
    --b: 2px;
    --c: rgb(39, 179, 39);
    --w: 15px;
    border: var(--b) solid #0000;
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0    / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

/* hover popout styling */
.pokemon span {
    display: none;
    max-width: 100px;
    background-color: black;
    text-align: center;
    padding: 5px 12px;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    z-index: 2;
}

.pokemon span::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.pokemon:hover span {
    display: block;
}